body {
  position: relative;
}

.nav-position {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.logo-size {
  width: 50px;
}

input.form-control {
  border: 1px solid black;
}

textarea.form-control {
  border: 1px solid black;
}

.form-style {
  width: 75%;
  margin: 0 auto;
}

.top-space {
  padding-top: 100px;
}

.blog-image-height {
  height: 500px
}
